---
openapi: 3.1.0
info:
  title: Sarod
  version: 0.0.0
tags: []
paths:
  "/auth":
    post:
      operationId: AuthApi_email
      description: "\tユーザーを追加します、認証が不要だが、メールアドレスが確認されるまでアクティベートされない"
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: The server could not understand the request due to invalid
            syntax.
          content:
            text/plain:
              schema:
                type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                auth_email:
                  type: string
                auth_email_password:
                  type: string
              required:
              - name
              - auth_email
              - auth_email_password
  "/auth/callback_oauth":
    get:
      operationId: AuthApi_callback_oauth
      description: "\toauth コールバック用"
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
        explode: false
      - name: state
        in: query
        required: true
        schema:
          type: string
        explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: The server could not understand the request due to invalid
            syntax.
          content:
            text/plain:
              schema:
                type: string
  "/auth/google":
    get:
      operationId: AuthApi_google
      description: "\tgoogle ログイン"
      parameters:
      - name: redirect
        in: query
        required: true
        schema:
          type: string
        explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            text/plain:
              schema:
                type: string
  "/auth/out":
    get:
      operationId: AuthApi_out
      description: "\tログアウト"
      parameters: []
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers
            may be useful. '
          content:
            application/json:
              schema:
                type: 'null'
  "/rule":
    get:
      operationId: RuleApi_rule_list
      description: "\tルール一覧を返します"
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Rule"
        '400':
          description: The server could not understand the request due to invalid
            syntax.
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: Access is forbidden.
          content:
            application/json:
              schema:
                type: 'null'
      security:
      - BearerAuth: []
    post:
      operationId: RuleApi_rule_push
      description: "\tルールを追加/更新します"
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Rule"
        '400':
          description: The server could not understand the request due to invalid
            syntax.
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: Access is forbidden.
          content:
            application/json:
              schema:
                type: 'null'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rule:
                  "$ref": "#/components/schemas/Rule"
              required:
              - rule
      security:
      - BearerAuth: []
  "/user":
    delete:
      operationId: UserApi_user_pop
      description: "\tユーザーを削除します、認証が必要"
      parameters: []
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers
            may be useful. '
          content:
            application/json:
              schema:
                type: 'null'
        '400':
          description: The server could not understand the request due to invalid
            syntax.
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: Access is forbidden.
          content:
            application/json:
              schema:
                type: 'null'
      security:
      - BearerAuth: []
    get:
      operationId: UserApi_user_get
      description: "\tユーザー情報を取得します、認証が必要"
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/User"
        '400':
          description: The server could not understand the request due to invalid
            syntax.
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: Access is forbidden.
          content:
            application/json:
              schema:
                type: 'null'
      security:
      - BearerAuth: []
components:
  schemas:
    NotFoundResponse:
      type: object
      required:
      - body
      properties:
        body:
          type: 'null'
    Page:
      type: object
      required:
      - id
      - id_root
      - id_node
      - content
      properties:
        id:
          "$ref": "#/components/schemas/UUID"
        id_root:
          "$ref": "#/components/schemas/UUID"
        id_node:
          "$ref": "#/components/schemas/UUID"
        content:
          type: string
    Plan:
      type: object
      required:
      - id
      - name
      - priceMonthly
      - currency
      properties:
        id:
          "$ref": "#/components/schemas/UUID"
        name:
          type: string
        priceMonthly:
          type: integer
          format: int32
        currency:
          type: string
          enum:
          - JPY
          - USD
        description:
          type: string
    Rule:
      type: object
      required:
      - id
      - id_root
      - name
      - script
      properties:
        id:
          "$ref": "#/components/schemas/UUID"
        id_root:
          "$ref": "#/components/schemas/UUID"
        name:
          type: string
        script:
          type: string
    Subscription:
      type: object
      required:
      - id
      - id_root
      - id_node
      - status
      properties:
        id:
          "$ref": "#/components/schemas/UUID"
        id_root:
          "$ref": "#/components/schemas/UUID"
        id_node:
          "$ref": "#/components/schemas/UUID"
        status:
          type: string
          enum:
          - active
          - trialing
          - canceled
          - past_due
    UUID:
      type: string
      format: uuid
    User:
      type: object
      required:
      - id
      - name
      - picture
      - auth_email
      - auth_google
      - auth_email_password
      - is_active
      properties:
        id:
          "$ref": "#/components/schemas/UUID"
        name:
          type: string
        picture:
          type: string
        auth_email:
          type: string
        auth_google:
          type: string
        auth_email_password:
          type: string
        is_active:
          type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: Bearer
servers:
- url: "/api"
  description: 開発用
  variables: {}
